/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/



/* HTML5 display-role reset for older browsers */

/*

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*/























/********************************************/
/********************************************/
/***** General stylings  *******/
* {
	padding:0;
	margin:0;
	/* border: 1px solid black; */
}

/* html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
} */

/* h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
} */

body {
	font-family: 'Titillium Web', sans-serif;
	width: 800px;
	margin: 0 auto;
}


/********************************************/
/********************************************/
/***** Header stylings  *******/

header nav a {
	text-decoration: none;
	margin:0 20px;
	color:grey;
}

header nav {
	display: flex;
	align-items:center;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 40px 0;
}

/********************************************/
/********************************************/
/***** cta cta-test & image stylings  *******/
.cta-text h1 {
	font-family: 'Bangers', cursive;
	font-size: 40px;
	letter-spacing: 1px;
	text-align: center;
}

.cta-text button {
	font-size:13px;
	padding: 5px;
	background-color:white;
	border-color:black;
	/* border:1px solid black; */
}

.cta img {
	width:270px;
}

.cta {
	display: flex;
	justify-content:space-around;
	padding: 0 0 20px 0;
	border-bottom: 1px solid black;
	margin: 0 0 20px 0;
}

.cta-text {
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
}

/********************************************/
/********************************************/
/***** General top-content and bottom-content stylings  *******/
.text-content h4 {
	font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

.text-content p {
	font-size:12px;
}


/********************************************/
/********************************************/
/***** top-content text-content stylings  *******/
.top-content .text-content {
	width: 350px;
}

.top-content {
	display:flex;
	justify-content: space-between;
}

.text-content h4, .text-content p {
	margin: 20px 0 ;
}

/********************************************/
/********************************************/
/***** image between top & bottom-content  stylings  *******/
.middle-img {
	width:100%;
}


/********************************************/
/********************************************/
/***** bottom-content text-content stylings  *******/
.bottom-content .text-content {
	width: 210px;
}


.bottom-content {
	display:flex;
	justify-content: space-between;
	padding:0 0 10px 0;
	border-bottom: 1px solid black;
	margin: 0 0 10px 0;
}

/********************************************/
/********************************************/
/***** contact stylings  *******/
.contact h4 {
	font-family: 'Bangers', cursive;
    letter-spacing: 1px;
}

.contact h4, .contact p {
	margin: 15px 0;
}

.contact p {
	font-size:13px;
}


/********************************************/
/********************************************/
/***** copyright  stylings  *******/
footer {
	font-size:13px;
	text-align:center;
	margin: 0 0 30px 0;
}








