* {
    padding: 0;
    margin: 0 20px 0 20px;
    /* border: 1px solid grey; */
    font-family: 'Titillium Web', sans-serif;
}

body {
    width:900px;
    margin: 0 auto;
}

/****  Secion1  *****/

.section1 {
    display:flex;
    justify-content:space-between;
    align-content: center;
}

.section1 div {
    padding:20px 0px 20px 0px ;
    text-align: center;
    color: grey;
}

.section1 a {
    padding:10px 0px 10px 0px ;
}

.services-header-img {
    width:100%;
    margin:20px 0px 20px 0px ;
}

.sContent {
    padding:20px 0px 20px 0px ;
    border-bottom: 1px solid black;
}

.sTitle {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    letter-spacing: 1px;
}


/**** Section2 ******/
.section2 {
    margin:0 0 30px 0;
}

.section2 div {   
    width:40%;
    margin: 30px 0 0 0;
    border: 1px solid black;
    background-color: lightgrey;
}

/* .logo {
    padding:5px 0 5px 0;
} */

.s2Content, .s2Title, button {
    margin:20px 20px 20px 20px ;
}
button {
    border-radius: 8px;
    border: 1px solid black;
}


.s2Title {
    font-family: 'Bangers', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

button {
    padding:10px 30px 10px 30px ;
}

 .section2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }


 /**** Section3 ******/
 .section3 {
  display:flex;
  justify-content: space-around;
  padding:30px 0 60px 0; 
  border-top: 2px solid black;
 }

 .section3 div {
  width:40%;
 }

 .section3 div p, .section3 div ul{
    padding:10px 0 10px 0;
 }

 .section3 div ul {
    line-height: 2;
 }
 
 .someFacts {
    font-family: 'Bangers', cursive;
    font-size: 18px;
    letter-spacing: 1px;
 }

 .copyR {
     text-align:center;
     padding:0 0 30px 0; 
     
 }







